@import "tailwindcss";

@theme{
  --animate-opening: open 1s ease-in-out forwards;
  --animate-sliding: slide 1.5s cubic-bezier(0.5, 1, 0.25, 1) forwards;
  --breakpoint-ss: 330px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes open{
  from{
    width: 0ch;
  }
  to{
    width: 8.2ch;
  }
}

@keyframes slide {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0);
  }
}

:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: var(--color-slate-900);
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.4em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.4em 0.6em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-orange-500);
  cursor: pointer;
  font-size: 0.8em;
  transition: border-color 0.25s;
  outline: none;
  color: white;
}
button:hover {
  background-color: var(--color-blue-400);
  outline: none;
}
button:focus,
button:focus-visible {
  @apply outline-none ring-2 ring-blue-500 ring-offset-2;
}
